//-//////////////////////////////////////////////////////////
//- BEM FORMS
//-//////////////////////////////////////////////////////////

//- Universal interface for all form elements
//- Example of use
//- +input(type="select", value=['value 1', 'value 2', value='n...'], name="sample-select", errors=['error 1', 'error 2'])


- var _attributes = {};

mixin input()
	- _attributes = attributes;
	- _attributes.type          = attributes.type           || 'text';
	- _attributes.image         = attributes.image          || 'img/content/captcha.png';
	- _attributes.checked       = attributes.checked        || false
	- _attributes.disabled      = attributes.disabled       || false
	- _attributes.required      = attributes.required       || false
	- _attributes.errorclass    = attributes.errorclass     || 'b-form__item_error'
	- _attributes.requiredclass = attributes.requiredclass  || 'b-form__item_required'
	- _attributes.errors        = attributes.errors         || false
	- _attributes.hint          = attributes.hint           || false
	- _attributes.name          = attributes.name           || 'input-name'
	- _attributes.id            = attributes.id             || attributes.name
	- _attributes.cols          = attributes.cols           || 80
	- _attributes.rows          = attributes.rows           || 24
	- _attributes.multiple      = attributes.multiple       || true
	- _attributes.size          = attributes.size           || 5
	- _attributes.value         = attributes.value          || ''
	
	

	- if (_attributes.type === 'checkbox' || _attributes.type === 'radio')
		.b-form__item(class="b-form__item_#{_attributes.type}")
			input(type = _attributes.type, name = _attributes.name, id = _attributes.id, value = _attributes.value, checked = _attributes.checked, disabled = _attributes.disabled)

			if (_attributes.label)
				label(for="#{_attributes.id}").b-form__label!= _attributes.label
			.clear
	- else
		+__wrapper()
			- if (_attributes.type === 'text' || _attributes.type === 'email' || _attributes.type === 'password' || _attributes.type === 'file')
				input(type=_attributes.type, value=_attributes.value, name=_attributes.name, placeholder=_attributes.placeholder, id=_attributes.name)
				- if (_attributes.type === 'input-date')
					.b-form__input-icon.js-datepicker-trigger(class=_attributes.icon)

			- else if (_attributes.type === 'textarea')
				textarea(name = _attributes.name, cols = _attributes.cols, rows = _attributes.rows, placeholder = _attributes.placeholder, id = _attributes.id)= _attributes.value
			
			- else if (_attributes.type === 'select' || _attributes.type === 'multiselect')
				select(name = _attributes.name, id = _attributes.id, data-placeholder = _attributes.placeholder)
					- if (_attributes.placeholder)
						option
					each ent, num  in _attributes.value
						option(value=num, label=ent)= ent

			- else if (_attributes.type === 'multiselect')
				select(name = _attributes.name, id = _attributes.id, multiple = _attributes.multiple, size = _attributes.size)
					each ent, num  in _attributes.value
						option(value=num, label=ent)= ent

mixin __wrapper()
	if (_attributes.errors)
		-var errorclass = _attributes.errorclass

	if (_attributes.required)
		-var requiredclass = _attributes.requiredclass

	.b-form__item(class=errorclass, class="b-form__item_#{type}", class=requiredclass)
		+__label()

		.b-form__input
			block

		+__helpers()

		.clear

mixin __label()
	if (_attributes.label)
		label(for=_attributes.name).b-form__label!= _attributes.label
			if (_attributes.required)
				span.b-form__label_required  *



mixin __helpers()
	if (_attributes.errors || _attributes.hint)
		.b-form__helpers
			if (_attributes.hint)
				.b-form__hint= _attributes.hint

			if (_attributes.errors)
				ul.b-form__errors
					each ent, num in _attributes.errors
						li= ent


//-//////////////////////////////////////////////////////////
//- Other form elements
//-//////////////////////////////////////////////////////////

mixin inputGroup(label)
	.b-input-group
		if (label)
			label.b-input-group__label!= label

		fieldset.b-input-group__body
			block

		.clear



//-//////////////////////////////////////////////////////////
//- Other mixins
//-//////////////////////////////////////////////////////////


mixin ie(condition)
	| 
	| <!--[!{condition}]>
	block
	| 
	| <![endif]-->
	| 

mixin iePlus(condition)
	| 
	| <!--[!{condition}]><!-->
	block
	| 
	| <!--<![endif]-->
	| 

