mixin head(data)
	meta(charset="utf-8")
	title= data.title + ' :: ' + config.projectName

	if data.meta
		if data.meta == "default"
			- data.meta = head.default.meta

		meta(content=data.meta.author name="author")
		meta(content=data.meta.description name="description")
		meta(content=data.meta.keywords name="keywords")
	
	if data.mobile
		meta(content="telephone=no" name="format-detection")
		meta(name="robots" content="noodp, noydir")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		//- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers
		meta(name="HandheldFriendly" content="true")
		meta(content="IE=edge" http-equiv="X-UA-Compatible")

	//- Styles
	link(rel="stylesheet", href="#{config.path.styles}/reset.min.css")
	link(rel="stylesheet", href="#{config.path.styles}/main.min.css")

	//- OpenGraph Meta
	if data.og
		if data.og == "default"
			- data.og = head.default.og

		meta(property="og:title" content=data.title)
		meta(property="og:url" content=data.og.url)
		meta(property="og:description" content=data.og.description)
		meta(property="og:image" content=data.og.image.path)
		meta(property="og:image:type" content=data.og.image.type)
		meta(property="og:image:width" content=data.og.image.widht)
		meta(property="og:image:height" content=data.og.image.height)
		meta(property="twitter:description" content=data.og.description)
		link(rel="image_src" href=data.og.image.path)

	//- Favicon
	//- http://realfavicongenerator.net/
	link(rel="apple-touch-icon", sizes="57x57", href="#{config.path.favicons}/apple-touch-icon-57x57.png")
	link(rel="apple-touch-icon", sizes="60x60", href="#{config.path.favicons}/apple-touch-icon-60x60.png")
	link(rel="apple-touch-icon", sizes="72x72", href="#{config.path.favicons}/apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon", sizes="76x76", href="#{config.path.favicons}/apple-touch-icon-76x76.png")
	link(rel="apple-touch-icon", sizes="114x114", href="#{config.path.favicons}/apple-touch-icon-114x114.png")
	link(rel="apple-touch-icon", sizes="120x120", href="#{config.path.favicons}/apple-touch-icon-120x120.png")
	link(rel="apple-touch-icon", sizes="144x144", href="#{config.path.favicons}/apple-touch-icon-144x144.png")
	link(rel="apple-touch-icon", sizes="152x152", href="#{config.path.favicons}/apple-touch-icon-152x152.png")
	link(rel="apple-touch-icon", sizes="180x180", href="#{config.path.favicons}/apple-touch-icon-180x180.png")
	link(rel="icon", type="image/png", href="#{config.path.favicons}/favicon-32x32.png", sizes="32x32")
	link(rel="icon", type="image/png", href="#{config.path.favicons}/favicon-194x194.png", sizes="194x194")
	link(rel="icon", type="image/png", href="#{config.path.favicons}/favicon-96x96.png", sizes="96x96")
	link(rel="icon", type="image/png", href="#{config.path.favicons}/android-chrome-192x192.png", sizes="192x192")
	link(rel="icon", type="image/png", href="#{config.path.favicons}/favicon-16x16.png", sizes="16x16")
	link(rel="manifest", href="#{config.path.favicons}/manifest.json")
	link(rel="mask-icon", href="#{config.path.favicons}/safari-pinned-tab.svg", color="#71bf44")
	meta(name="apple-mobile-web-app-title", content=config.projectName)
	meta(name="application-name", content=config.projectName)
	meta(name="msapplication-TileColor", content="#ffffff")
	meta(name="msapplication-TileImage", content="#{config.path.favicons}/mstile-144x144.png")
	meta(name="theme-color", content="#ffffff")
	
	script(src="#{config.path.scripts}/jquery-2.2.3.js")

