include ../../form-item/form-item
include ../../label/label
include ../../select/select


-
	var options = [
		{ "value": "1", "label": "Option 1" },
		{ "value": "2", "label": "Option 2" },
		{ "value": "3", "label": "Option 3" },
		{ "value": "selected", "label": "Selected option", "selected": true },
		{ "value": "disabled", "label": "Disabled option", "disabled": true }
	];

+form-item(
	label="Inline select"
	for="form-demo__select-inline"
).form__item
	+select(
		id="form-demo__select-inline" 
		name="form-demo__select-inline"
		placeholder="Select language..."
		options=[
			{ "value": "1", "label": "Option 1" },
			{ "value": "2", "label": "Option 2" },
			{ "value": "3", "label": "Option 3" },
			{ "value": "selected", "label": "Selected option" },
			{ "value": "disabled", "label": "Disabled option", "disabled": true }
		]
	)

+form-item(
	label="Option groups select"
	for="form-demo__select-optgroup"
).form__item
	+select(
		id="form-demo__select-optgroup" 
		name="form-demo__select-optgroup"
		placeholder="Select language..."
		options=[
			{ "value": "selected", "label": "Selected option" },
			{ "value": "disabled", "label": "Disabled option", "disabled": true },
			{ 
				label: "Fruits",
				options: [
					{ "value": "1", "label": "Apple" },
					{ "value": "2", "label": "Avocado" },
					{ "value": "3", "label": "Banana" },
					{ "value": "5", "label": "Lemon" },
					{ "value": "6", "label": "Pear" },
				] 
			},
			{ 
				label: "Berries",
				options: [
					{ "value": "1", "label": "Cherries" },
					{ "value": "2", "label": "Blueberry" },
					{ "value": "3", "label": "Cranberry" },
					{ "value": "4", "label": "Cherries" },
					{ "value": "5", "label": "Strawberry" }
				] 
			},
			{ 
				label: "Vegetables",
				options: [
					{ "value": "1", "label": "Broccoli" },
					{ "value": "2", "label": "Potato" },
					{ "value": "3", "label": "Radish" },
					{ "value": "4", "label": "Onion" },
					{ "value": "5", "label": "Carrot" },
				] 
			}
		]
	)


+form-item(
	label="Full width select"
	for="form-demo__select-block"
).form__item
	+select(
		id="form-demo__select-block" 
		name="form-demo__select-block"
		placeholder="Select language..."
		options=options
		block
	)

+form-item(
	label="Disabled select"
	for="form-demo__select-disable"
).form__item
	+select(
		id="form-demo__select-disable" 
		name="form-demo__select-disable"
		placeholder="Select language..."
		options=options
		disabled
	)

+form-item(
	label="Multiple select"
	for="form-demo__select-multiple"
).form__item
	+select(
		id="form-demo__select-multiple" 
		name="form-demo__select-multiple"
		placeholder="Select language..."
		options=options
		multiple
	)
