mixin select__option(option)
	option(
		value=option.value
		selected=option.selected
		disabled=option.disabled
	)= option.label

mixin select(data)
	-
		let baseClassName = "select";

		const {
			style = "default",
			type = "text",
			disabled: disabledAttr,
			block: blockAttr,
			class: className,
			placeholder,
			options,
			multiple,
			size = "5"
		} = attributes;

		const otherAttrs = _.omit(
			[
				"color",
				"size",
				"style",
				"icon",
				"block",
				"class",
				"placeholder",
				"options"
			],
			attributes
		);

		const stringToArray = str => str
			? str.split(" ").filter(v => v.length) 
			: [];

		const styles = stringToArray(style)
			.map(s => `${baseClassName}_style_${s}`)

		const classes = _.classNames(
			[
				baseClassName,
				blockAttr ? `${baseClassName}_block`: `${baseClassName}_inline`,
				{
					[`${baseClassName}_multiple`]: multiple,
					[`${baseClassName}_disabled`]: disabledAttr,
				}
			].concat(styles, className)
		);

		const isArray = arr => 
			(Array.isArray(arr) && arr.length > 0);

	span(class=classes)
		select&attributes(otherAttrs).form-control.form-control_type_select.select__control
			if placeholder
				option(value="" disabled selected).select__placeholder= placeholder
				
			if options
				each option in options
					if isArray(option.options)
						optgroup(label=option.label)
							each groupOpt in option.options
								+select__option(groupOpt)
					else
						+select__option(option)
				
			block
