include ../button/button
include ../icon/icon

mixin pager(data)
	.pager&attributes(attributes)
		+button(
			to="#"
			size="normal"
			style="solid rounded"
			color="blue"
			icon
		).pager__item.pager__item_prev
			+icon(name="chevron_left" title="Chevron left")
			span Previous
		+button(
			to="#"
			size="normal"
			style="solid rounded"
			color="blue"
			icon
		).pager__item.pager__item_next
			span Next
			+icon(name="chevron_right" title="Chevron right")

