include ../../button/button

+button(
	size="normal" 
	style="solid rounded" 
	color="indigo" 
	disabled
) Disabled button

+button(
	to="#" 
	size="normal" 
	style="solid rounded" 
	color="indigo" 
	disabled
) Disabled link
