include ../../button/button
include ../../button-group/button-group


+button-group()
	+button(
		size="normal"
		style="solid rounded"
		color="blue"
		icon
	).button-group__item
		+icon(name="add")
		span Add

	+button(
		size="normal"
		style="solid rounded"
		color="blue"
		icon
	).button-group__item
		+icon(name="button")

	+button(
		size="normal"
		style="solid rounded"
		color="blue"
		icon
	).button-group__item
		span Search
		+icon(name="maginifer")


+button-group()
	+button(
		size="normal"
		style="ghost rounded"
		color="blue"
		icon
	).button-group__item
		+icon(name="add")
	+button(
		size="normal"
		style="ghost rounded"
		color="blue"
		icon
	).button-group__item
		+icon(name="button")
	+button(
		size="normal"
		style="ghost rounded"
		color="blue"
		icon
	).button-group__item
		+icon(name="maginifer")


+button-group()
	+button(
		size="normal"
		style="ghost pill"
		color="blue"
		icon
	).button-group__item
		span Add
	+button(
		size="normal"
		style="ghost pill"
		color="blue"
		icon
	).button-group__item
		span Play
	+button(
		size="normal"
		style="ghost pill"
		color="blue"
		icon
	).button-group__item
		span Search
