include ../../button/button
include ../../icon/icon

+button(
	size="normal"
	style="solid rounded"
	color="indigo"
	icon
)
	+icon(name="chevron_left" title="Chevron left")
	span Text left


+button(
	size="normal"
	style="solid rounded"
	color="indigo"
	icon
)
	span Right
	+icon(name="chevron_right" title="Chevron right")

+button(
	to="#"
	size="normal"
	style="solid rounded"
	color="indigo"
	icon
)
	+icon(name="maginifer" title="Search")
	span.visuallyhidden Icon only button
