include ../../button/button
include ../../icon/icon

+button(
	size="normal"
	style="solid rounded"
	color="blue"
	icon
)
	+icon(name="chevron-left" title="Chevron left")
	span Text left


+button(
	size="normal"
	style="solid rounded"
	color="blue"
	icon
)
	span Right
	+icon(name="chevron-right" title="Chevron right")

+button(
	to="#"
	size="normal"
	style="solid rounded"
	color="blue"
	icon
)
	+icon(name="add" title="Add")
	span.visuallyhidden Icon only button
