mixin accordion(data)
	.accordion&attributes(attributes)
		block

mixin accordion-item(data)
	- const itemAttr = data.disabled ? "disabled" : `${data.open || false}`;
	.accordion__item(
		data-accordion-item!= itemAttr
		class=data.disabled && "accordion__item_disabled"
	)&attributes(attributes)
		.accordion__trigger(
			data-accordion-trigger
			tabindex="0"
			role="button"
			aria-expanded="false"
		)= data.title
		.accordion__panel.content-wrapper(aria-hidden="true")
			block
