include ../button/button

mixin accordion(data)
	-
		const {
			color,
			size,
			style = "default",
			baseClassName = "accordion"
		} = attributes;

		const otherAttrs = _.omit(
			["color", "size", "style", "baseClassName"],
			attributes
		);

		const stringToArray = str => str
			? str.split(" ").filter(v => v.length) 
			: [];

		const styles = stringToArray(style)
			.map(s => `${baseClassName}_style_${s}`)

		const classes = _.classNames(
			[
				baseClassName,
				{
					[`${baseClassName}_color_${color}`]: color,
					[`${baseClassName}_size_${size}`]: size
				}
			].concat(styles)
		);
	div(class=classes)&attributes(otherAttrs)
		block

mixin accordion__item(data)
	-
		const {
			label,
			expanded: isOpen = false,
			disabled: isDisabled = false,
			baseClassName = "accordion"
		} = attributes;

		const otherAttrs = _.omit(
			["expanded", "disabled", "label", "baseClassName"],
			attributes
		);

		const tabIndex = isDisabled ? "-1": "0"

	div(
		class=`${baseClassName}__item`
		data-accordion-item
		data-accordion-item-open=isOpen.toString()
		aria-disabled=isDisabled ? "true" : false
	)&attributes(attributes)
		+button(
			class=[`${baseClassName}__trigger`, "button"]
			disabled=isDisabled
			tabindex=tabIndex
			aria-expanded=isOpen.toString()
			data-accordion-trigger
			block
		)= label

		div(
			class=`${baseClassName}__panel`
			data-accordion-panel 
			aria-hidden=`${!isOpen}`
		)
			div(class=[`${baseClassName}__content`, "content-wrapper"])
				block
