include ../../badge/badge

h3 Styles
.demo-grid
	each style in ["square", "rounded", "circle", "dot"]
		.demo-grid__item
			.demo-grid-item
				.demo-grid-item__container
					+badge(style=`solid ${style}` color="indigo" size="medium") 123
				.demo-grid-item__title= style

h3 Dot style
.demo-grid
	each size in ["small", "medium", "large", "xl", "xxl"]
		.demo-grid__item
			.demo-grid-item
				.demo-grid-item__container
					+badge(style="solid dot" color="red" size=size) 123
				.demo-grid-item__title= size

h3 Colors
.demo-grid
	each color in ["gray", "black", "red", "pink", "grape", "violet", "indigo", "blue", "cyan", "teal", "green", "lime", "yellow", "orange"]
		.demo-grid__item
			.demo-grid-item
				.demo-grid-item__container
					+badge(style="solid circle" color=color size="medium") 123
				.demo-grid-item__title= color

h3 Sizes
.demo-grid
	each size in ["small", "medium", "large", "xl", "xxl"]
		.demo-grid__item
			.demo-grid-item
				.demo-grid-item__container
					+badge(style="solid circle" color="indigo" size=size) 123
				.demo-grid-item__title= size

	

