include ../button/button

mixin tabs(data)
	-
		tabs = [];
		const {
			name,
			color,
			size,
			style = "default",
			expanded = false,
			align,
			baseClassName = "tabs"
		} = attributes;

		const otherAttrs = _.omit(
			[
				"color", 
				"size", 
				"style", 
				"baseClassName", 
				"name", 
				"expanded", 
				"align"
			],
			attributes
		);

		const stringToArray = str => str
			? str.split(" ").filter(v => v.length) 
			: [];

		const styles = stringToArray(style)
			.map(s => `${baseClassName}_style_${s}`)

		const classes = _.classNames(
			[
				baseClassName,
				{
					[`${baseClassName}_color_${color}`]: color,
					[`${baseClassName}_size_${size}`]: size,
					[`${baseClassName}_align_${align}`]: align,
					[`${baseClassName}_expanded`]: expanded
				}
			].concat(styles)
		);

	mixin tabs__item(data)
		- var oldBuf = pug_html;
		- pug_html = '';
		block
		-
			data.block = pug_html;
			tabs.push(data);
			pug_html = oldBuf;

	div(
		class=classes
		data-tabs-name=name
	)&attributes(otherAttrs)
		span(
			class=[`${baseClassName}__description`, "visuallyhidden"]
			data-tabs-description=""
		) Use left and right arrows to navigate between tabs.

		block

		div(
			role="tablist"
			class=`${baseClassName}__header` 
			data-tabs-header=""
		)
			each tab in tabs
				+button(
					icon=tab.icon || false
					data-tab-id=tab.id
					disabled=tab.disabled || false
					tabindex="-1"
					role="tab"
					aria-selected="false"
				).tabs__tab
					if (tab.icon)
						+icon(name=tab.icon)
					span= tab.label

		div(class=`${baseClassName}__body`)
			each tab in tabs
				div(
					class=`${baseClassName}__panel` 
					data-panel-id=tab.id
					role="tabpanel"
					aria-hidden="true"
				)
					!= tab.block
