mixin fieldset(data)
	-
		const {
			label,
			style,
			inline,
			baseClassName = "fieldset"
		} = attributes;

		const otherAttrs = _.omit(
			["style", "inline", "block", "label"],
			attributes
		);

		const stringToArray = str => str
			? str.split(" ").filter(v => v.length) 
			: [];

		const styles = stringToArray(style)
			.map(s => `${baseClassName}_style_${s}`)

		const classes = _.classNames(
			[
				baseClassName,
				inline ? `${baseClassName}_inline`: `${baseClassName}_block`
			].concat(styles, className)
		);

	div(class=classes)
		if label
			div(class=`${baseClassName}__label`)= label

		block
